/* This file has been created and written by John Ayad */

/*
 * General Tags
 */



/*
 * Header
 */



/*
 * Navigation
 */
nav {
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    padding: 17px 8px;
}

.menu_items {
	display: block;
}

#menu_button {
    display: none;
}

/*
 * Main Content
 */
form input[type="text"], form input[type="email"] {
    width: 600px;
}

textarea {
    width: 600px;
}

.founders {
    flex-direction: row;
}

.founder {
    width: 40%;
    margin: 0 20px;
}

/*
 * Footer
 *
 */